/*------------------------------------*\
  #Global Rules
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

html {
    font-size: 65.2%;
}

*::before,
*::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270,9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
}

img {
    width: 100%;
    object-fit: cover;
}

ul {
    list-style-type: none;
}

a {
    outline: none;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--very-light-gray);
    cursor: pointer;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    background-color: white;
    font-family: "Karla", sans-serif;
}

h1, 
h2,
h3 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
}

.container {
    max-width: 106.05rem;
    margin: 0 auto;
}





/*------------------------------------*\
  #Navigation & Hero Page Section
\*------------------------------------*/

header {
    background-color: var(--very-light-gray);
    padding: 2.0rem 2.2rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.0rem;
}

nav li a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--dark-grayish-violet);
}

nav .cta--navigation {
    color: var(--very-dark-violet);
    border: 0.2rem solid var(--dark-violet);
    font-weight: 700;
    margin: 0;
}

.motif-right, 
.motif-left {
    position: absolute;
}

.motif-left {
    left: 0;
    bottom: 20.5rem;
    z-index: 10;
}

.motif-right {
    right: 0;
    bottom: -20.8rem;
}

.hero-page .container picture {
    position: relative;
    z-index: 60;
}

.hero-page {
    background-color: var(--dark-violet);
    color: var(--very-light-gray);
    min-height: 100vh;
    padding-bottom: 7.8rem;
    position: relative;
}

.hero-page__content {
    text-align: center;
    margin: 4.5rem 2.2rem 0;
}

.hero-page__content .divider {
    display: none;
}

h1 {
    font-size: 3.5rem;
    line-height: 0.8;
    margin-bottom: 1.8rem;
}

.hero-page__content p {
    font-size: 1.4rem;
}

.cta {
    border: 0.2rem solid var(--very-light-gray);
    padding: 0.8rem 1.6rem;
    margin-top: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
}





/*------------------------------------*\
  #Selling Points Section
\*------------------------------------*/

.selling-points {
    margin: 8.5rem 2.2rem;
    text-align: center;
}

.divider {
    height: 0.1rem;
    width: 12.5rem;
    background-color: var(--very-dark-violet);
    margin: 0 auto 4.5rem;
}

.selling-points__groups {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.8rem;
}

h2 {
    font-size: 3.2rem;
    margin-bottom: 3.8rem;
    line-height: 0.8;
}

article {
    max-width: 31.97rem;
}

.icon-tag {
    margin-bottom: 1.8rem;
}

h3 {
    font-size: 2.4rem;
    margin-bottom: 1.0rem;
}

article p {
    color: var(--grayish-blue);
}





/*------------------------------------*\
  #Learn More Section
\*------------------------------------*/

.third-group {
    padding: 5.8rem 2.2rem 8.8rem;
}

.learn-more {
    background-color: var(--dark-violet);
    background-image: url('images/bg-pattern-intro-right-mobile.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    text-align: center;
    padding: 3.5rem 2.2rem;
    color: var(--very-light-gray);
}

.learn-more h2 {
    margin-bottom: 2.5rem;
}

.learn-more .cta {
    width: fit-content;
    justify-self: center;
    margin-top: 0;
}





/*------------------------------------*\
  #Footer Section
\*------------------------------------*/

footer {
    background-color: var(--very-light-gray);
    background-image: url('images/bg-pattern-footer-mobile.svg');
    background-repeat: no-repeat;
    background-position: top left;
    text-align: center;
    padding: 5.5rem 2.2rem;
    font-size: 1.5rem;
}

h4 {
    font-size: 1.7rem;
    color: var(--dark-grayish-violet);
    text-transform: uppercase;
    font-family: "Karla", sans-serif;
    font-weight: 400;
}

footer a {
    color: var(--very-dark-violet);
    text-transform: uppercase;
    font-weight: 700;
}

.page-socials {
    border-bottom: 0.1rem solid var(--grayish-blue);
    padding-bottom: 2.5rem;
    margin-bottom: 3.5rem;
}

.social-handles {
    margin: 2.2rem auto 2.5rem;
    display: flex;
    gap: 1.0rem;
    justify-content: center;
    align-items: center;
}

.site-map {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h4 {
    margin-bottom: 2.5rem;
}





/*------------------------------------*\
  #Media Queries
\*------------------------------------*/

@media screen and (min-width: 768px) {

    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }

    .hero-page {
        height: 100vh;
        padding: 0 2.2rem;
        position: relative;
    }

    .hero-page .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
    }

    .motif-right {
        top: 5.5rem;
        z-index: 80;
    }

    .motif-left {
        bottom: -25.5rem;
    }

    .hero-page__content {
        text-align: start;
        max-width: 48.5rem;
        margin-left: 0;
        position: relative;
        z-index: 95;
    }

    .hero-page__content .divider {
        display: block;
        background-color: var(--very-light-gray);
    }

    h1 {
        font-size: 5.8rem;
    }

    .hero-page .container picture {
        /* display: none; */
        position: absolute;
        right: 0;
        bottom: -12.5rem;
        width: 35.5rem;
        aspect-ratio: 4 / 5;
    }

    .navigation__dropdown-menu {
        display: none;
    }

    nav {
        display: block;
    }

    .selling-points {
        text-align: start;
        padding-top: 12.5rem;
    }

    h2 {
        font-size: 4.8rem;
    }

    .selling-points__groups {
        justify-content: flex-start;
    }

    .divider {
        margin-left: 0;
    }

    .learn-more {
        background-image: url('images/bg-pattern-intro-right-desktop.svg');
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 22.5rem;
        text-align: start;
    }

    .learn-more h2 {
        max-width: 42.5rem;
        margin: 0;
    }

    footer {
        background-image: url('images/bg-pattern-footer-desktop.svg');
    }

    .page-socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social-handles {
        justify-content: flex-end;
        gap: 2.2rem;
        margin: 0;
    }

    .site-map {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: start;
    }

}

@media screen and (min-width: 1024px) {

    .hero-page .container picture {
        bottom: -15.5rem;
        width: 47.8rem;
    }
}